<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Gabillionaires</title>
      
     <%= stylesheet_link_tag "profile" %>

   
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/expander.js"></script>


<style type="text/css">
      @import "/css/flora.datepick.css";
    </style>

  
    <script type="text/javascript" src="/js/jquery.datepick.js"></script>
    <script type="text/javascript">
    $(function() {
       $('#popupDatepicker').datepick();
       
    });
    </script>


  </head>
  <body>

<div id="whole_page">
  		<div id="header"> Gabillionaires </div>
      
      <div id="nav">   
         <% if user_signed_in? %>
            <%= link_to_unless_current("Home", new_post_path )%> |
            <%= link_to_unless_current("My Hub", { :action => "index" }) %> |
            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
             
           <% else %>
           <%= link_to_unless_current("About Us", { :action => "about" }) %> |
            <%= link_to_unless_current "Sign up", new_user_registration_path %> |
            <%= link_to_unless_current "Sign in", new_user_session_path %>
               
        <% end %>
       <%= @content_for_layout %>
      </div>



   <% if user_signed_in? %> 
                           
      <div id="content">
         <div id="left_column1" >
                    <div id="left_navigation">
                                      <ul>
                                            <li>    <%= link_to hub_path do %>  <%= image_tag current_user.photo.url,:size=>"25x25" %> 
                                                
                                                <%= current_user.firstname + " " + current_user.lastname %> <% end %>  
                                            </li>
                                          

                                            <li> <%= link_to new_post_path do %> <%= image_tag("/images/preview11.png", :size => "25x25") %> Home <% end %></li>
                                             
                                          
                                          <li>
                                             <%= link_to myfriends_friends_path do %>  <%= image_tag("/images/following.png", :size => "25x25") %> Following <% end %>
                                          </li>
                                          

                                          <li>
                                             <%= link_to following_friends_path do %>  <%= image_tag("/images/followers.png", :size => "25x25") %> Followers <% end %>
                                          </li>
        
                                          <li> <%= link_to friends_friend_path do %><%= image_tag("/images/users-icon.png", :size => "25x25") %> Community <% end %></li>
                                           
                                           
                            
                                        
                                 
                                          <li>
                                            <%= link_to events_path do %> <%= image_tag("/images/Calender-icon.png", :size => "25x25") %> Events <% end %>
                                          </li>
                                          
                                         

                                          
                                             <li> <%= link_to edit_user_registration_path do %> <%= image_tag("/images/advanced-icon.png", :size => "25x25") %> Settings <% end %>  </li>
                                           

                                      </ul>
                    </div>  <!-- end of left_navitaion-->
             </div><!--end of left column-->  

                 


              <div id="right_column" >
                       <div id="right_content">

                           <fieldset>
                      						
                      			<legend>The Event</legend>	

                      		    <div align="center">
                              
                                 <table border="1"> 
                                
                                  <tr>
                                    <td rowspan="5"><%= image_tag("/images/Calendar.ico", :size => "100x100") %></td> 
                                    <td>Event Name</td>
                                    <td align="center"><%= @showevent.event_name %></td>
                                  </tr> 
                                    
                                  <tr>
                                    <td>Details</td>
                                    <td align="center"><%= @showevent.details %></td>
                                  </tr> 
                                
                                  <tr>
                                    <td>When</td>
                                    <td align="center"><%= @showevent.when %></td>
                                  </tr> 

                                  <tr>
                                    <td>Where</td>
                                    <td align="center"><%= @showevent.where %></td>
                                  </tr> 

                                  <tr>
                                    <td>Time</td>
                                    <td align="center"><%= @showevent.time %></td>
                                  </tr> 
                                  
                                </table>
                             </div> 	 		 
                          </fieldset>
                      
                       </div><!--end of right column-->
                  

      </div><!-- end of content -->
  <% else %>
      redirect_to new_user_session_path
  <%end %>
                
</div> 
</body>
</html>