<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Gabillionaires</title>
      
     <%= stylesheet_link_tag "profile" %>

    <link type="text/css" href="/css/redmond/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
     <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/expander.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquerytab.js" ></script>




  </head>
  <body>

<div id="whole_page">
  		<div id="header"> Gabillionaires </div>
      
      <div id="nav">   
         <% if user_signed_in? %>
            <%= link_to_unless_current("Home", new_post_path )%> |
            <%= link_to_unless_current("My Hub", { :action => "index" }) %> |
            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
             
           <% else %>
           <%= link_to_unless_current("About Us", { :action => "about" }) %> |
            <%= link_to_unless_current "Sign up", new_user_registration_path %> |
            <%= link_to_unless_current "Sign in", new_user_session_path %>
               
        <% end %>
       <%= @content_for_layout %>
      </div>



   <% if user_signed_in? %> 
                           
      <div id="content">
         <div id="left_column1" >
                    <div id="left_navigation">
                                      <ul>
                                            <li>    <%= link_to hub_path do %>  <%= image_tag current_user.photo.url,:size=>"25x25" %> 
                                                
                                                <%= current_user.firstname + " " + current_user.lastname %> <% end %>  
                                            </li>
                                          

                                            <li> <%= link_to new_post_path do %> <%= image_tag("/images/preview11.png", :size => "25x25") %> Home <% end %></li>
                                             
                                          
                                          <li>
                                             <%= link_to myfriends_friends_path do %>  <%= image_tag("/images/following.png", :size => "25x25") %> Following <% end %>
                                          </li>
                                          

                                          <li>
                                             <%= link_to following_friends_path do %>  <%= image_tag("/images/followers.png", :size => "25x25") %> Followers <% end %>
                                          </li>
        
                                          <li> <%= link_to friends_friend_path do %><%= image_tag("/images/users-icon.png", :size => "25x25") %> Community <% end %></li>
                                           
                                           
                            
                                 
                                          <li>
                                            <%= link_to events_path do %> <%= image_tag("/images/Calender-icon.png", :size => "25x25") %> Events <% end %>
                                          </li>
                                          
                                         

                                          
                                             <li> <%= link_to edit_user_registration_path do %> <%= image_tag("/images/advanced-icon.png", :size => "25x25") %> Settings <% end %>  </li>
                                           

                                      </ul>
                    </div>  <!-- end of left_navitaion-->
             </div><!--end of left column-->  

                 


                           <div id="right_column" >
                                <div id="right_content">

                                <div id="user">  
                                         <table border="0">
                                            <tr>
                                              
                                                <td rowspan="4" > 
                                                   <div class="profile_pic">                  
                                                          <%= image_tag current_user.photo.url,:size=>"100x100" %> 
                                                   <div>                                         
                                                </td>
                                                
                                                <td> 
                                                   <tr> 
                                                       <td>
                                                           <div id="full_name"><%= current_user.firstname + " " + current_user.lastname %></div>
                                                        </td>
                                                   </tr>
                                                   <tr> 
                                                       <td>
                                                        <div id ="location">
                                                         

                                                            <%= current_user.city + ", " + current_user.country %>  <br/>  
                                                            <%= current_user.occupation %>    
                                                          
                                                        </div>
                                                      </td>
                                                   </tr>
                                                   
                                                   



                                                </td>

                                            </tr>

                                         </table>   
                                </div>
                                     <hr noshade />

                                      <!-- Tabs -->
                                
                                    <div id="tabs">
                                      <ul>
                                        <li><a href="#tabs-1">My Posts</a></li>
                                        
                                        <li>
                                          <div class="notifications">

                                            <a href="#tabs-2">
                                              Follower Requests</a> 
                                             <div class="new-message">
                                              <% if @friendsRequests > 0 %>
                                               <a> <%= @friendsRequests%></a>
                                               <% end %>
                                            </div>

                                        </div></li>
                                      </ul>

                                      <div id="tabs-1">
                                           <div id="user_post">
                                              <div id="user_box_content">
                                                     <%= form_for @post do |f|  %>
                                                      <%= f.hidden_field :user_id, :value => current_user.id %>                                
                                                      <%= f.text_area :message, :class => "post_field", :rows=>1, :cols =>63, :placeholder=>"What's on your mind?", :min => 250 %>
                                                         <div align="right">
                                                           <%= f.submit "Post"%>
                                                        </div>
                                                     <% end %> 
                                               </div> 
                                           </div>   
                                     
                                            
                                                  <div class="post_message">
                                                    <ol>

                                                          <% @postlist.each do |p| %>
                                                          
                                                            <li class="stbody">
                                                            
                                                            <div class="stimg">
                                                                <%= image_tag current_user.photo.url,:size=>"50x50" %> 
                                                            </div> 
                                                            <div class="post_name_home">
                                                              <%= current_user.firstname + " " + current_user.lastname %>
                                                            </div>
                                                            <div class="sttext">
                                                              
                                                                 <%= p.message %>
                                                                <div class="sttime"><%= distance_of_time_in_words_to_now(p.created_at) %>  ago</div> 
                                                            </div> 
                                                          
                                                             <div class="msg_list_home"><!-- start msg-list replies -->
                                                                                                      
                                                                       <p class="msg_head"> <u> Show/Hide Comments </u> </p>

                                                                            <div class="msg_body">
                                                                                    
                                                                                    <% @showcomments.each do |showcomments| %>
                                                                                      <% @profile.each do |userall| %>
                                                                                        <% if showcomments.post_id == p.id %>
                                                                                            <% if showcomments.user_id == userall.id %> 

                                                                                                 <div id="comment_container">
                                                                                                    <div id="comment_image">
                                                                                                      <%= image_tag userall.photo.url,:size=> "50x50" %>
                                                                                                    </div>

                                                                                                     <div class="post_name_home">
                                                                                                        <%= link_to user_path(userall) do %> <%= userall.firstname + " " + userall.lastname %>  <% end %>
                                                                                                        <font color="#5e5e5e" size="1px"> posted <%= distance_of_time_in_words_to_now(showcomments.created_at) %> ago
                                                                                                         </font> 
                                                                                                    </div>  

                                                                                                    <div class="comment_message">
                                                                                                        <p> 
                                                                                                           <%=  showcomments.message %>
                                                                                                        </p>
                                                                                                    </div>


                                                                                                </div>
                                                                                            <% end %>
                                                                                        <% end %>
                                                                                      <% end %>
                                                                                    <% end %>

                                                                                    <div id="comment_container">
                                                                                      <div id="comment_image">
                                                                                      <%= image_tag current_user.photo.url,:size=>"50x50" %>
                                                                                     </div>    

                                                                                      <div class="post_name_home">
                                                                                             <%= current_user.firstname + " " + current_user.lastname %>  
                                                                                                       
                                                                                      </div>  

                                                                                           <%= form_for @postcomment do |x|  %>
                                                                                                      <%= x.hidden_field :user_id, :value => current_user.id %>
                                                                                                      <%= x.hidden_field :post_id, :value => p.id %>
                                                                                                                        
                                                                                                                         
                                                                                                                      &nbsp;&nbsp; <%= x.text_area :message, :rows=>1, :cols => 60, :placeholder => "Write a comment...", :min => 250  %>
                                                                                                                       <br/>
                                                                                                                        <div align="right">
                                                                                                                           <%=button_to "Post", {:controller => :comments,
                                                                                                                            :action => 'create'} %>

                                                                                                                        </div>

                                                                                                                  <% end %>                           
                                                                                      
                                                                                    </div> 
                                                                                                                  

                                                                                                                               
                                                                            </div><!--msg_body-->
                                                                                                       
                                                              </div><!-- end msg_list -->
                                                            </li> 
                                                             

                                                          <% end %>
                                                           
                                                    </ol>
                                             </div>
                                        
                                      </div><!--end of tab-1 -->
                                      
                                      <div id="tabs-2">
                                            
                                            <% if @friendsRequests > 0 %>

                                              
                                                   <div id="friend_box_content">
                                                      <div id="user_friend_content">
                                                     
                                                    
                                                              <table border="1" width="530px" class="hovertable">
                                                                <tr>
                                                                    <th align="center"> </th>
                                                                    <th align="center"> Name </th>
                                                                    <th align="center"> Location </th>
                                                                    
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                                  <% @friendAdd.each do |a| %>

                                                                
                                                                <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
                                                                    <td align="center">  <%= image_tag a.photo.url,:size=>"30x30" %>    </td>
                                                                    <td align="center"><%= a.firstname + "  "+ a.lastname  %></td>
                                                                    

                                                                    <td align="center"> <%= a.city + "  " + a.country %></td>


                                                                    <td align="center">   <%= form_for @friendrowid do |x|  %>                                                    
                                                                    <%=button_to "Accept", {:controller => :friends,
                                                                  :id => @friendrowid.id  }, :method => :update %>
                                                                 <% end%>
                                                                 
                                                                    </td>

                                                                    <td align="center"> <%=button_to "Decline", {:controller => :friends,
                                                                      :id => @friendrowid.id  }, :method => :delete %>
                                                                    <% end%></td>

                                                                </tr>
                                                                  <% else %>
                                               
                                                   <p>There are no follower requests <br/>
                                                        <%= link_to  "Search in community?", friends_friend_path %>
                                                        </p>
                                                  <% end %> 

                                                    </table>
                                                             
                                                  
                                                     </div>
                                                     
                                                   
                                                     </div> 
                                                  
                                          
                                      </div><!--end of tab-2 -->
                                    
                                    </div>


                                </div>   
                          </div><!--end of right column-->
                  

      </div><!-- end of content -->
  <% else %>
      redirect_to new_user_session_path
  <%end %>
                
</div> 
</body>
</html>